<div fxLayout="row" fxLayoutWrap class="game-panel">

  <!----- LEFT PANEL ----->

  <div class="left-panel" fxFlex="15" fxLayout="column">

    <div fxFlex="auto"></div>

    <div fxFlex="auto"></div>

    <div fxFlex="auto">
      <deck></deck>
    </div>

  </div>

  <!----- CENTER PANEL ----->

  <div class="center-panel" fxFlex="70" fxLayout="column">

    <div class="opponent-lessons-in-play" fxLayout="row" fxLayoutAlign="space-around center" fxFlex="auto">

      <div class="lessonInPlay" *ngFor="let c of board.opponent.lessonsInPlay">
        <card [card]="c"></card>
      </div>

    </div>

    <div class="opponent-cards-in-play" fxLayout="row" fxLayoutAlign="space-around center" fxFlex="auto">

      <div class="cardsInPlay" *ngFor="let c of board.opponent.cardsInPlay">
        <card [card]="c"></card>
      </div>

    </div>

    <div class="player-cards-in-play" fxLayout="row" fxLayoutAlign="space-around center" fxFlex="auto">

      <div class="cardsInPlay" *ngFor="let c of board.you.cardsInPlay">
        <card [card]="c"></card>
      </div>

    </div>

    <div class="player-lessons-in-play" fxLayout="row" fxLayoutAlign="space-around center" fxFlex="auto">

      <div class="lessonInPlay" *ngFor="let c of board.you.lessonsInPlay">
        <card [card]="c"></card>
      </div>

    </div>

    <div class="player-hand" fxLayout="row-reverse" fxLayoutAlign="space-around center" fxFlex="auto">

      <div *ngFor="let c of board.you.hand">
        <card [card]="c" (click)="c.clickInHand()"></card>
      </div>

    </div>

  </div>

  <div class="right-panel" fxFlex="15"></div>

</div>
