/*md-grid-tile {*/
  /*border: 1px solid black;*/
  /*overflow: auto;*/
/*}*/

/*div {*/
  /*width: auto;*/
/*}*/

/*#opponent-side {*/
  /*position: absolute;*/
  /*top: 0;*/
  /*width: 80%;*/
  /*height: 50%;*/
/*}*/

/*#player-side {*/
  /*position: absolute;*/
  /*bottom: 0;*/
  /*width: 80%;*/
  /*height: 50%;*/
/*}*/

/*.lessonInPlay {*/
  /*width: 70px;*/
/*}*/

/** {*/
  /*box-sizing: border-box;*/
/*}*/

/*#content {*/
  /*background: url("../../assets/images/castle.jpg") no-repeat center center fixed;*/
  /*-webkit-background-size: cover;*/
  /*-moz-background-size: cover;*/
  /*-o-background-size: cover;*/
  /*background-size: cover;*/
/*}*/

/*.col-1 {width: 8.33%;}*/
/*.col-2 {width: 16.66%;}*/
/*.col-3 {width: 25%;}*/
/*.col-4 {width: 33.33%;}*/
/*.col-5 {width: 41.66%;}*/
/*.col-6 {width: 50%;}*/
/*.col-7 {width: 58.33%;}*/
/*.col-8 {width: 66.66%;}*/
/*.col-9 {width: 75%;}*/
/*.col-10 {width: 83.33%;}*/
/*.col-11 {width: 91.66%;}*/
/*.col-12 {width: 100%;}*/

/*[class*="col-"] {*/
  /*float: left;*/
  /*padding: 15px;*/
  /*border: 1px solid red;*/
/*}*/

/*.row::after {*/
  /*content: "";*/
  /*clear: both;*/
  /*display: table;*/
/*}*/

.opponent-cards-in-play {
  /*background-color: #ff1706;*/
}

.player-cards-in-play {
  /*background-color: #3da51c;*/
}

.player-hand {
  /*background-color: #2c47a5;*/
}

.player-lessons-in-play {
  /*background-color: #9ba50b;*/
}

.opponent-lessons-in-play {
  /*background-color: black;*/
}

.game-panel {
  height: 100%;
}

/*.left-panel > div {*/
  /*border: 2px solid blue;*/
/*}*/

