@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

.fitted {
  display: inline-block !important;
}

.centered {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 5%;
}

