.mat-card {
  display: inline-block;
  /*position: absolute;*/
  /*left: 50%;*/
  /*transform: translateX(-50%);*/
  /*margin-top: 5%;*/
}

[md-card] {
  display: inline-block;
}


.game-row {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
